<div class="dashboard-container">

  <!-- SIDEBAR -->
  <aside class="sidebar">

    <div class="brand">
      <h2>Smart Campus</h2>
    </div>

    <!-- MAIN MENU -->
    <div class="menu-section">
      <span class="menu-label">MAIN MENU</span>

      <ul class="nav-list">
        <li routerLink="/admin/dashboard" routerLinkActive="active" class="nav-item">
          <span class="icon">&#8862;</span> Dashboard
        </li>

        <li routerLink="/admin/requests" routerLinkActive="active" class="nav-item">
          <span class="icon">&#128197;</span> Request Management
        </li>

        <li routerLink="/admin/rooms" routerLinkActive="active" class="nav-item">
          <span class="icon">&#128682;</span> Room Management
        </li>

        <li routerLink="/admin/resources" routerLinkActive="active" class="nav-item">
          <span class="icon">&#128187;</span> Resource Management
        </li>

        <li routerLink="/admin/maintenance" routerLinkActive="active" class="nav-item">
          <span class="icon">&#128295;</span> Maintenance Reports
        </li>
      </ul>
    </div>

    <!-- SYSTEM -->
    <div class="menu-section">
      <span class="menu-label">SYSTEM</span>

      <ul class="nav-list">
        <li routerLink="/admin/about" routerLinkActive="active" class="nav-item">
          <span class="icon">&#8505;</span> About System
        </li>

        <li routerLink="/admin/support" routerLinkActive="active" class="nav-item">
          <span class="icon">&#9881;</span> Contact / Support
        </li>
      </ul>
    </div>

    <!-- FOOTER -->
    <div class="sidebar-footer">
      <div class="user-profile">
        <div class="avatar">&#128100;</div>

        <div class="user-info">
          <strong>Admin</strong>
          <span>Logged in</span>
        </div>
      </div>

      <a class="logout-btn">
        <span class="icon">&#10162;</span> Logout
      </a>
    </div>

  </aside>

  <!-- MAIN CONTENT -->


    <router-outlet></router-outlet>



</div>